html, body, .app{
	height: 100%;
}

.bp3-dark .bp3-bg, .bp3-dark.bp3-bg{
	background: #293742;
}

.flex-v{
	display: flex;
	flex-direction: column;
}

.flex-h{
	display: flex;
	flex-direction: row;
}

.h100{
	height: 100%;
}